 
@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400,500,600&display=swap");
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
  text-decoration: none;
}
body{
  font-family: 'Public Sans', sans-serif;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 12% 0 12%;
  position: sticky;
}
.navlinks ul li {
  display: inline-flex;
  margin-right: 20px;
  font-size: 16px;
}

.navlinks ul li a{
  color: lightslategray;
}

.nav-end button{
  color: #fff;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.89rem;
  font-weight: 600;
  padding: 14px 33px;
  text-decoration: none;
  border: none;
}

.hero{
  background: url(../images/bg-intro-desktop.svg) no-repeat;
  background-color: #fafafa;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 34px;
  background-size: contain;
  background-position: right;
}
.hero-text{
  display: flex;
  flex-direction: column;
  padding-top: 10%; 
  padding-bottom: 7%;
  padding-left: 12%;
}
.hero h1{
  font-size: 60px;
  color: #2d314d;
  
}
.hero-text p{
  color: #9698a6;
  line-height: 1.6em;
  font-size: 20px;
}
.hero img{
  float: right;
  width: 35%;
  height: 35%;
}
.hero-text button{
  color: #fff;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.89rem;
  font-weight: 600;
  padding: 14px 33px;
  text-decoration: none;
  width: 180px;
  border: none;
  margin-top: 10px;
}
.sidebar{
  margin: auto 12%;
  padding-top: 6%;
}
.sides{
  background: #f3f4f6;
  
}
.choose{
  display: flex;
  flex-direction: column;
}
.choose h2{
  font-size: 40px;
  color: #2d314d;
}
.choose p{
  margin-top: 30px;
  color: #9698a6;
  line-height: 2em;
  font-size: 20px;
}
.side{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 70px;
}
.api{
  margin-right: 20px;
  padding-bottom: 80px;
}
.api h2{
  margin-top: 3em;
  font-size: 26px;
  color: #2d314d;
}

.api p{
  margin-top: 2em;
  color: #9698a6;
  line-height: 1.6em;
}
.arts{
  background: #fafafa;
  height: 110vh;

}
.articles{
  margin: auto 12% ;
  padding-top: 100px;
  padding-bottom: 60px;
}
.title h2{
    font-size: 40px;
    margin-bottom: 60px;
    color: #2d314d;
}
.stories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stories img{
  width: 230px;
  height: 200px;
}
.story {
  padding-right: 20px;
  background-color: white;
  width: 210px;
}
.writing h2{
  margin-top: 25px;
  font-size: 12px;
  color: #9698a6;
  padding: 0 10px 0 10px;
}
.writing h3{
  margin-top: 10px;
  font-size: 14px;
  color: #2d314d;
  padding: 0 10px 0 10px;
}
.writing h3:hover{
  color: #31d35c;
}
.writing p{
  color: #9698a6;
  font-size: 14px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  line-height: 1.2em;
}
.story .writing{
  background-color: #fff;
}

/* Footer */
footer{
  background: #2d314d;
  color: #fff;

}
.foot{
  margin: auto 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
}
.foot a{
  color: white;
}

.last-item {
text-align: right;
line-height: 1.6em;
}
.last-item h2{
  font-size: 16px;
  margin-top: 10px;
}
.last-item button{
  color: #fff;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  display: inline-block;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.89rem;
  font-weight: 600;
  padding: 14px 33px;
  text-decoration: none;
  border: none;
}

.links{
  line-height: 1.6em;
}

.item1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media ul{
  display: flex;
  justify-content: space-between;
}
